<!DOCTYPE html>
<html>
    <head>
        <title>Shopcom</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            #all{
                width: 100%;
                min-height: 100vh;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: space-between;
            }
            .bodys{
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                flex-direction: row;
                margin: 5% 3% 5% 12%;
            }
            .leftside{
                width: 50%;
            }
            .rightside{
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <div id="all">
            <div><%- include('_navbar')%></div>
            <div class="bodys">
                <div class="leftside">
                    <form method="POST" action="/help/queryadd">
                        Query:<br>
                        <input type="text" size="25" name="title" required><br><br>
                        Description of Query:<br> <textarea name="description" rows="6" cols="25" required></textarea><br><br>
                        <button>Submit</button>
                    </form>
                </div>
                <div class="rightside">
                    <% if( query.length ){ %>
                        <% for (i of query){ %> 
                           
                            <p> <%= i.title%></p>    
                            <p><%= i.description%></p>
                            <% } %>  
                    <% } else {%>
                        
                        <p>No query</p>
                    
                        <% } %>
                </div>
            </div>
         <!--------------Footer ------------------------------------------------------------------------------------>
            <div><%- include('_footer') %></div>
        </div>
        <script>
            <% if(flash.success && flash.success.length > 0 ){ %> 
                 new Noty({
                     theme:'relax',
                     text:"<%= flash.success %>",
                     type:'success',
                     layout:"topRight",
                     timeout:1500
                 }).show();
            <% } %> 
            <% if(flash.error && flash.error.length > 0 ){ %> 
                  new Noty({
                      theme:'relax',
                      text:"<%= flash.error %>",
                      type:'error',
                      layout:"topRight",
                      timeout:1500
                  }).show();
             <% } %> </script>
    </body>
</html>
