<div>
    <h2>Thanks for trusting our website</h2>
    <br>
    <p>Your Product is Published by Id: <h3><%= ad._id %></h3></p>
    <p>Your ad Brand: <h3><%= ad.brand %></h3></p>
    <p>Your ad title: <h3><%= ad.title %></h3></p>
    <p>Your ad description:<h3> <%= ad.description %></h3></p>
    <p>Your ad Price: <h3><%= ad.price %></h3></p>
    <br>
</div>